{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/explore/css/results.css">
{% endblock %}

{% block content %}
<div class='row'>
  <div class='col-md-12'>
    <img src='{{record.image}}' style="width: 100%; height: 120px; background-color: gray">
  </div>
</div>
<div class='row'>
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <h2>{{record.name}}</h2>
    <h5>{{record.subtitle}}</h5>
    <div class='well'>
      {% for data in record.data %}
      <p><b>{{ data.key }}:</b> {{ data.value }}</p>
      {% endfor %}
    </div>
    <p>
      {% if record.enteredbyname %}
        Entered by: {{record.enteredbyname}} on
        {% if record.enteredbydate %}
          {{record.enteredbydate}}
        {% endif %}
        &nbsp &nbsp|&nbsp &nbsp
      {% endif %}
      {% if record.modifiedbyname %}
        Last modified by: {{record.modifiedbyname}}
        {% if record.modifiedbydate %}
          on {{record.modifiedbydate}}
        {% endif %}
      {% endif %}
    </p>
  </div>
  <div class="col-md-1">
  </div>
</div>
{% endblock %}
