
@font-face {
    font-family:"Open Sans SemiBold";
    src:url("OpenSans-SemiBold.woff2") format("woff2"),url("OpenSans-SemiBold.woff") format("woff"),url("OpenSans-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        