:root {
  --header_height: 6rem;
  --black: #000000;
  --white: #ffffff;
  /* PRIMARY A: Vivid, unique. ORIGINAL: SIENNA */
  --current_pg_index: var(--primary_a);
  --highlight_underline: var(--primary_a);
  --highlight_font: var(--primary_a);
  /* PRIMARY B VERY faint. ORIGINAL: OFF-WHITE */
  --light_font: var(--primary_b);
  --accent_bg: var(--primary_b);
  /* PRIMARY C VERY dark, bold. ORIGINAL: OFF-BLACK */
  --dark_font: var(--primary_c);
  /* PRIMARY D neutral. ORIGINAL: GRAY */
  --result_highlight: var(--primary_d);
  --alt_bg: var(--primary_d);
  --light_border: var(--primary_d);
  /* SECONDARY A Themed, dark. ORIGINAL: FOREST-GREEN */
  --link_color: var(--secondary_a);
  --alt_field_bg: var(--secondary_a);
  /* SECONDARY B Themed, moderate. ORIGINAL: OLIVE-GREEN */
  /* SECONDARY C Themed, vivid. ORIGINAL: GREEN */
  --ok_button_bg: var(--secondary_c);
  --placeholder_font: var(--secondary_c);
  /* SECONDARY D Vivid, unique, accent. ORIGINAL: FUCHSIA*/
  /* PALETTE OVERRIDES */
  --default_background: var(--white);
  --default_alt_font: var(--white);
  --default_font: var(--black);
  --default_border: var(--black);
  --btn_border: 2px solid var(--white);
  --btn_color: var(--white);
  /* Theme Colors */
  --theme_bg_color: var(--black);
  --theme_color: var(--white);
  /* FONT OVERRIDES */
  --bs-font-sans-serif: "Open Sans Regular", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans-serif: var(--bs-font-sans-serif);
  --font-sans-serif-bold: "Open Sans Bold", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans-serif-extrabold: "Open Sans ExtraBold", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --small_font_size: 0.7rem;

  /* Spacing */
  --margin_bottom: 1.5em; 
  --margin_top: 1.5em;
  --margin: 1.5em;
  --letter_spacing: 0.05em;

  /* Borders */
  --default_border: 1px solid var(--default_font);
  --default_border_radius: 0.3rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
