
@font-face {
    font-family:"Open Sans ExtraBold";
    src:url("OpenSans-ExtraBold.woff2") format("woff2"),url("OpenSans-ExtraBold.woff") format("woff"),url("OpenSans-ExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        