
@font-face {
    font-family:"Open Sans Regular";
    src:url("OpenSans-VariableFont_wdth,wght.woff2") format("woff2"),url("OpenSans-VariableFont_wdth,wght.woff") format("woff"),url("OpenSans-VariableFont_wdth,wght.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        