
@font-face {
    font-family:"Open Sans Regular";
    src:url("OpenSans-Regular.woff2") format("woff2"),url("OpenSans-Regular.woff") format("woff"),url("OpenSans-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        