
@font-face {
    font-family:"Open Sans Bold";
    src:url("OpenSans-Bold.woff2") format("woff2"),url("OpenSans-Bold.woff") format("woff"),url("OpenSans-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        