
@font-face {
    font-family:"Open Sans Light";
    src:url("OpenSans-Light.woff2") format("woff2"),url("OpenSans-Light.woff") format("woff"),url("OpenSans-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        