
@font-face {
    font-family:"Open Sans ExtraBold Italic";
    src:url("OpenSans-ExtraBoldItalic.woff2") format("woff2"),url("OpenSans-ExtraBoldItalic.woff") format("woff"),url("OpenSans-ExtraBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        