
@font-face {
    font-family:"Open Sans Medium Italic";
    src:url("OpenSans-MediumItalic.woff2") format("woff2"),url("OpenSans-MediumItalic.woff") format("woff"),url("OpenSans-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        