services:
  db:
    image: postgis/postgis:15-3.4
    restart: always
    platform: linux/amd64
    environment:
      POSTGRES_DB: ${SQL_DATABASE}
      POSTGRES_USER: ${SQL_USER}
      POSTGRES_PASSWORD: ${SQL_PASSWORD}
    volumes:
      - tekdb_db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${SQL_USER} -d ${SQL_DATABASE} -h localhost -p ${SQL_PORT}"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: ../TEKDB/
      dockerfile: ../TEKDB/Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env.dev
    environment:
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      DEBUG: ${DEBUG}
      SQL_ENGINE: ${SQL_ENGINE}
      SQL_HOST: ${SQL_HOST}
      SQL_PORT: ${SQL_PORT}
      SQL_DATABASE: ${SQL_DATABASE}
      SQL_USER: ${SQL_USER}
      SQL_PASSWORD: ${SQL_PASSWORD}
      SECRET_KEY: ${SECRET_KEY}
    ports:
      - "8000:8000"
    volumes:
      - .:/usr/src/app

volumes:
  tekdb_db_data:
