<HTML>
  <head>
    <link rel="stylesheet" href="/static/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/explore/css/explore.css">
        <link rel="stylesheet" href="/static/explore/css/base.css">
        <link rel="stylesheet" href="/static/explore/css/header.css">
    <link rel="stylesheet" href="/static/explore/css/modals.css">
    <link rel="stylesheet" href="/static/explore/css/forms.css">   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    {% block extra_css %}

    {% endblock %}
  </head>
  <body>
    {% include 'modals.html' %}

    {% block header %}
    <nav class="navbar navbar-default navbar-sticky-top">
      <div class="container">
        {% include 'navbar.html' %}
      </div>
    </nav>
    {% endblock %}


    {% block contentwrapper %}
    <div class="container content-container">
      <div class="row content-row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 well content-well">
          {% block content %}
            {{pageContent}}
          {% endblock %}
        </div>
        <div class="col-md-1">
        </div>
      </div>
    </div>
    {% endblock %}

    <!-- JQuery -->
    <script src="/static/assets/jquery/jquery-3.2.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/explore/js/modals.js"></script>
    <!-- Knockout JS-->
    <script src="/static/assets/knockout/knockout-3.4.2.js"></script>
    <script>
        var app = {};
    </script>
    {% block extra_js %}{% endblock %}
  </body>
</HTML>
