{% extends "base.html" %}

{% block contentwrapper %}
<div class="container-fluid content-container">
  <div class="row content-row">
    <div class="col well content-well">
      {% block content %}
      <div class="row g-4 align-items-stretch">
        <div class="col col-md-6 white-bg p-4">
          <h1>Browse by category</h1>
          <p>To see all items in a category, select a box below.</p>
          <form class="explore-form" method="post" action="/search/">
            <input type="text" id="search-category-type" name="category" value="all" hidden default>
            <div class="btn-group btn-group-justified" role="category-group" aria-label="category-type-selection-buttons">
              <div class="col-md-2" role="category-group">
                <input type="checkbox" onclick="setCategoryType('all')" id="check-all"><label for="check-all">All</label>
              </div>
              <div class="col-md-2" role="category-group">
                <input type="checkbox" onclick="setCategoryType('places')" id="check-places"><label for="check-places">Places</label>
              </div>
              <div class="col-md-2" role="category-group">
                <input type="checkbox" onclick="setCategoryType('resources')" id="check-resources"><label for="check-resources">Resources</label>
              </div>
              <div class="col-md-2" role="category-group">
                <input type="checkbox" onclick="setCategoryType('activities')" id="check-activities"><label for="check-activities">Activity</label>
              </div>
              <div class="col-md-2" role="category-group">
                <input type="checkbox" onclick="setCategoryType('sources')" id="check-sources"><label for="check-sources">Source</label>
              </div>
              <div class="col-md-2" role="category-group">
                <input type="checkbox" onclick="setCategoryType('media')" id="check-media"><label for="check-media">Media</label>
              </div>
            </div>
          </form>
        </div>
        <div class="col col-md-6 accent-bg p-4">
          <div class="form-wrapper">
            <form class="explore-form" method='post' action='/search/'>
              {% csrf_token %}
                <div class="input-group">
                  <span class="input-group-text" id="search-icon-label">
                    <svg id="Symbol_62_2" data-name="Symbol 62 – 2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                      <rect id="Rectangle_176" data-name="Rectangle 176" width="16" height="16" fill="none"/>
                      <path id="Path_99" data-name="Path 99" d="M15.9,14.5l-3.3-3.3A6.847,6.847,0,0,0,14,7,6.957,6.957,0,0,0,7,0,6.957,6.957,0,0,0,0,7a6.957,6.957,0,0,0,7,7,6.847,6.847,0,0,0,4.2-1.4l3.3,3.3ZM2,7A4.951,4.951,0,0,1,7,2a4.951,4.951,0,0,1,5,5,4.951,4.951,0,0,1-5,5A4.951,4.951,0,0,1,2,7Z"/>
                    </svg>
                  </span>
                  <input type="search" class="form-control" id="search-text" name="query" placeholder="Search by keywords">
                </div>
                <button class="btn btn-secondary" type="submit">Go <span class="search-arrow arrow-right"></span></button>
            </form>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}

<script>
  function setCategoryType(category) {
    $('#search-category-type')[0].value = category;
  }
</script>

{% endblock %}
