{% extends "base.html" %}

{% block content %}
<form class="explore-form" method='post' action='/search/'>
  {% csrf_token %}
  <input type="text" id="search-category-type" name="category" value="all" required>
  <div class="btn-group btn-group-justified" role="category-group" aria-label="category-type-selection-buttons">
    <div class="btn-group" role="category-group">
      <button type="button" class="btn btn-default" onclick="setCategoryType('all')">All</button>
    </div>
    <div class="btn-group" role="category-group">
      <button type="button" class="btn btn-default" onclick="setCategoryType('places')">Place</button>
    </div>
    <div class="btn-group" role="category-group">
      <button type="button" class="btn btn-default" onclick="setCategoryType('resources')">Resource</button>
    </div>
    <div class="btn-group" role="category-group">
      <button type="button" class="btn btn-default" onclick="setCategoryType('activities')">Activity</button>
    </div>
    <div class="btn-group" role="category-group">
      <button type="button" class="btn btn-default"onclick="setCategoryType('sources')">Source</button>
    </div>
    <div class="btn-group" role="category-group">
      <button type="button" class="btn btn-default"onclick="setCategoryType('media')">Media</button>
    </div>
  </div>
    <div class="input-group">
      <input type="text" class="form-control" id="search-text" name="query" placeholder="Search Keywords">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit">Search</button>
      </span>
    </div>
</form>
<div class='explore-logo'>
  <img src='/static/explore/img/compass.png'>
  <p>Explore</p>
</div>
{% endblock %}

{% block extra_js %}

<script>
  function setCategoryType(category) {
    $('#search-category-type')[0].value = category;
  }
</script>

{% endblock %}
