<!-- TODO: Insert Map -->
{% block extra_css %}
<link rel="stylesheet" href="/static/explore/css/results.css">
<link rel="stylesheet" href="/static/explore/css/record.css">
<link rel="stylesheet" href="/static/assets/v4.6.5-dist/ol.css" type="text/css">
<link rel="stylesheet" href="/static/assets/ol3-layerswitcher-master/src/ol3-layerswitcher.css">
<link rel="stylesheet" href="/static/explore/css/map.css">
<!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<script src="/static/assets/v4.6.5-dist/ol.js"></script>
<script src="/static/assets/ol3-layerswitcher-master/src/ol3-layerswitcher.js"></script>
{% endblock %}

<div id="map" class="map"></div>
<div id="mouse-position" class="mouse-position"></div>
<script>
  {% include 'js/map.js' %}
</script>
