<!-- LOGIN MODAL -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loginModalLabel"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="loginModalLabel">Please Log In</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">{% include 'registration/login.html' %}</div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="changePasswordModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="changePasswordModalLabel"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="changePasswordModalLabel">Change Password</h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">{% include 'change_password.html' %}</div>
    </div>
  </div>
</div>
