
    {% block extra_css %}

    {% endblock %}

<div class="row row-eq-height">
  
  {% block headerTitle %}    
  <div class="col-md-3 logo">
    <a href="/">      

<!--styling of 'padding-bottom:10px;'goes with the <div> below instead of in CSS because it is only used if the logo image is replaced by the html below.-->
<!--
      <div class="logo-main" style='padding-bottom:10px;'>
        <span class="logo-tek">TEK</span>
        <span class="logo-db">DB</span>
      </div>
      <p class="logo-subhead">Traditional Ethnographic</p>
      <p class="logo-subhead"> Knowledge Database</p>
-->
<!--margin styling goes with the <img> below instead of in CSS because it is only used if the logo image is used in place of the html above. If decision is made to use image instead of html, this styling can go into the CSS.-->
<img src='/static/explore/img/logoTEKDB.png' alt='TEKDB logo' style='margin-bottom:-15px;margin-left:-60px;'>
    </a>    
  </div>
      {% endblock %}

  {% block headerButtons %}
  <div class="col-md-9">
      <ul class="nav nav-tabs">
        <li class="nav-item">
        {% if user.is_authenticated %}
          {% ifnotequal pageTitle "Explore" %}
              <a href="/explore" class="nav-link">
              {% else %}
              <a class="nav-link not-clickable">
          {% endifnotequal %}
        {% else %}
              <a class="nav-link not-clickable" >
        {% endif %}
          Explore
          </a>
        </li>

          <li class="nav-item">
            {% ifnotequal pageTitle "About" %}
              <a href="/about" class="nav-link">
            {% else %}
              <a class="nav-link not-clickable">
            {% endifnotequal %}
            About
              </a>
          </li>
          <li class="nav-item">
            {% ifnotequal pageTitle "Help" %}
              <a href="/help" class="nav-link">
            {% else %}
              <a class="nav-link not-clickable">
            {% endifnotequal %}
              Help
              </a>
          </li>
    
      {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>      
            </a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              {% if user.is_staff %}
                <a class="dropdown-item" href="/admin">Administration</a>
                <div class="dropdown-divider"></div>
              {% endif %}
                <a class="dropdown-item" href="/logout?next=/">Logout</a>
            </div>
          </li>
      {% else %}
          <li class="nav-item">
            <a class="header-button nav-link" data-toggle="modal" data-target="#loginModal">
            Login
            </a>
          </li>
      {% endif %}
    </ul>
  </div>
  {% endblock %}
</div>

