<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-8 header-title-content">
        <a href="/">
          {% block headerTitle %}
          <div class="row">
            <div class="col-md-12 header-title">
              <h1>TEK</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Traditional Ethnographic Knowledge Database</p>
            </div>
          </div>
          {% endblock %}
        </a>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    {% block headerButtons %}
    <div class="row header-button-row">
      {% if user.is_authenticated %}
      {% ifnotequal pageTitle "Explore" %}
      <a href="/explore" class="col-sm-2 col-md-2 header-button">
      {% else %}
      <a class="col-sm-2 col-md-2 header-button-selected">
      {% endifnotequal %}
      {% else %}
      <a class="col-sm-2 col-md-2 header-button" >
      {% endif %}
        Explore
      </a>
      {% ifnotequal pageTitle "About" %}
      <a href="/about" class="col-sm-2 col-md-2 header-button">
      {% else %}
      <a class="col-sm-2 col-md-2 header-button-selected">
      {% endifnotequal %}
        About
      </a>
      {% ifnotequal pageTitle "Help" %}
      <a href="/help" class="col-sm-2 col-md-2 header-button">
      {% else %}
      <a class="col-sm-2 col-md-2 header-button-selected">
      {% endifnotequal %}
        Help
      </a>
      <a class="col-sm-1 col-md-1">
      </a>
      {% if user.is_authenticated %}
      <div class="dropdown col-sm-3 col-md-3">
        <button class="btn dropdown-toggle" type="button" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          {{ user.username }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="userDropdown">
          {% if user.is_staff %}
          <li><a class="dropdown-item" href="/admin">Administration</a></li>
          {% endif %}
          <li><a class="dropdown-item" href="/logout?next=/">Logout</a></li>
        </ul>
      </div>
      {% else %}
      <a class="col-sm-3 col-md-3 header-button" data-toggle="modal" data-target="#loginModal">
        Login
      </a>
      {% endif %}
    </div>
    {% endblock %}
  </div>
</div>
