
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<div class="row row-eq-height">
  <div class="col-md-3">
    <div class="row header-title-content">
      {% block headerTitle %}    
      <a href="/">
        <div class="col-md-12 logo">
          <div class="logo-main">
            <span class="logo-tek">TEK</span>
            <span class="logo-db">DB</span>
          </div>
          <p class="logo-subhead">Traditional Ethnographic</p>
          <p class="logo-subhead"> Knowledge Database</p>
        </div>
      </a>
      {% endblock %}
    </div>
  </div>

  <div class="col-md-9">
    {% block headerButtons %}
    <div class="row header-button-row">




      <ul class="nav nav-tabs">
        {% if user.is_authenticated %}
          <li class="nav-item">
          {% ifnotequal pageTitle "Explore" %}
              <a href="/explore" class="nav-link">
              {% else %}
              <a class="nav-link">
          {% endifnotequal %}
        {% else %}
              <a class="nav-link" >
        {% endif %}
            Explore
              </a>
            </li>
          <li class="nav-item">
            {% ifnotequal pageTitle "About" %}
              <a href="/about" class="nav-link">
            {% else %}
              <a class="nav-link">
            {% endifnotequal %}
            About
              </a>
          </li>
          <li class="nav-item">
            {% ifnotequal pageTitle "Help" %}
              <a href="/help" class="nav-link">
            {% else %}
              <a class="nav-link">
            {% endifnotequal %}
              Help
              </a>
          </li>
    
      {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fas fa-user"></i>      
            </a>
            <div class="dropdown-menu" aria-labelledby="userDropdown">
              {% if user.is_staff %}
                <a class="dropdown-item" href="/admin">Administration</a>
              {% endif %}
                <a class="dropdown-item" href="/logout?next=/">Logout</a>
            </div>
      {% else %}
            <a class="header-button nav-item" data-toggle="modal" data-target="#loginModal">
            Login
            </a>
          </li>
      {% endif %}



    </ul>
    </div>
    {% endblock %}
  </div>
</div>

