{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="/static/explore/css/results.css">
<link rel="stylesheet" href="/static/explore/css/record.css">
{% endblock %}

{% block contentwrapper %}
<div class="container content-container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <a href='{{ back_link }}'><button type="button" class="btn btn-secondary btn-lg back-button">Back to results</button></a>
    </div>
    <div class="col-md-1">
      <table>
        <tr><td>Download</td></tr>
        <tr>
          <td>
            <ul id="export-links">
              <li><a href='/export/{{ model }}/{{ id }}/csv/'>.csv</a></li>
              <li><a href='/export/{{ model }}/{{ id }}/xls/'>.xls</a></li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row content-row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 well content-well">
      <div class='row'>
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
          <div class='row'>
            <div class="col record-icon" style="background-image: url({{ record.image }})">
            </div>
            <div class="col-md-10">
              <h2>{{record.name}}</h2>
              <h5>{{record.subtitle}}</h5>
            </div>
          </div>
          <div class='row'>
            <div class='well odd-well'>
              {% if record.media.file %}
                <div style="text-align: right">
                  <!-- <a class='btn-download' href="{{ MEDIA_URL }}{{ record.media.file }}">Download</a> -->
                  <a class='btn-download' href="download">Download</a>
                </div>
                {% if record.media.type == 'image' %}
                  <div style="text-align: center">
                    <img style="max-height: 20em" src="{{ MEDIA_URL }}{{ record.media.file }}" />
                  </div>
                {% endif %}
              {% endif %}
              {% for data in record.data %}
              <p><b>{{ data.key }}:</b> {{ data.value | safe }}</p>
              {% endfor %}
              {% if record.map %}
              {% include "map.html" %}
              {% endif %}
            </div>
          </div>
          {% if record.relationships|length > 0 %}
          <div class='row'>
            <h4>Relationships</h4>
            <div class='well odd-well relationship-div'>
              {% for relationship in record.relationships %}
                {% if relationship.value|length > 0 %}
                  <p><b>{{ relationship.key }}:</b></p>
                  {% for link in relationship.value %}
                    {% if forloop.counter0 == 0 %}
                    <div class='relationship-row'>
                    {% endif %}
                    {% if link.issimplerelationship %}
                        <a href="{{ link.link }}">{{ link.name }}</a>
                        {% if link.data.description %}
                          <div class='source-excerpt'>
                            {{ link.data.description }}
                            {% if link.data.pages %}&nbsp(Pages: {{ link.data.pages }}){% endif %}
                          </div>
                        {% endif %}

                    {% else %}
                      {% if link.link %}
                      <a href="{{ link.link }}">{{ link.name }}</a>
                      {% else %}
                      {{ link.name }}
                      {% endif %}
                    {% endif %}
                    {% if forloop.last %}
                    </div>
                    {% endif %}
                  <br />
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endif %}
          <div class='row'>
            <p>
              {% if record.enteredbyname %}
                Entered by: {{record.enteredbyname}} on
                {% if record.enteredbydate %}
                  {{record.enteredbydate}}
                {% endif %}
                &nbsp &nbsp|&nbsp &nbsp
              {% endif %}
              {% if record.modifiedbyname %}
                Last modified by: {{record.modifiedbyname}}
                {% if record.modifiedbydate %}
                  on {{record.modifiedbydate}}
                {% endif %}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
</div>
{% endblock %}
