{% extends "base.html" %}


{% block extra_css %}
<link rel="stylesheet" href="/static/explore/css/content.css">
<link rel="stylesheet" href="/static/explore/css/welcome.css">
{% endblock %}

{% block contentwrapper %}
  <div class="container">
    <div class="row gx-4 align-items-center">
      <div class="col col-md-5">
        <div class="welcome-content-wrapper">
          {% block content %}
            {{pageContent | safe}}
          {% endblock %}
        </div>
        <div class="welcome-login-button-wrapper">
        <!-- <a href="/login"> -->
          {% if not user.is_authenticated %}
          <button type="button" class="btn welcome-login-btn"  data-bs-toggle="modal" data-bs-target="#loginModal">Login <span class="arrow-right"></span></button>
          {% else %}
          <a href="/explore" type="button" class="btn welcome-login-btn">Explore <span class="arrow-right"></span></a>
          {% endif %}
        <!-- </a> -->
        </div>
      </div>
      <div class="col col-md-7">
        <div class="proj-image-select-wrapper">
          <img src="{{ proj_image_select }}" alt="project image">
        </div>
      </div>
  </div>
{% endblock %}
