[Unit]
Description=uWSGI Emperor service
After=syslog.target

[Service]
#ExecStart=/usr/local/apps/TEKDB/env/bin/uwsgi --emperor /etc/uwsgi/sites-enabled
ExecStart=/usr/local/apps/TEKDB/env/bin/uwsgi --ini /etc/uwsgi/apps-enabled/tekdb.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
