{% extends "admin/base_site.html" %}
{% comment %} 
Copied from https://github.com/smacker/django-filebrowser-no-grappelli/blob/master/filebrowser/templates/filebrowser/detail.html 
{% endcomment %}

<!-- LOADING -->
{% load static i18n fb_tags fb_versions fb_compat %}

<!-- STYLESHEETS -->
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

<!-- JAVASCRIPTS -->
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="{% static_jquery %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
{% endblock %}


<!-- BREADCRBUMBS -->
{% block breadcrumbs %}{% include "filebrowser/include/breadcrumbs.html" %}{% endblock %}

<!-- CONTENT -->
{% block content %}
<div id="content-main">
    <!-- POP-UP BREADCRUMBS -->
    {% if query.pop %}
        {% include "filebrowser/include/breadcrumbs.html" %}
    {% endif %}
    <form action="{% query_string "" "filter_date,filter_type,q,p" %}" method="post">{% csrf_token %}
        <div>
            {% if form.errors %}<p class="errornote">{% trans 'Please correct the following errors.' %}</p>{% endif %}
            {% if fileobject.filetype != "Folder" %}
            <fieldset class="module aligned">
                <h2>{% trans "File Information" %}</h2>
                <div class="form-row">
                    <div>
                        <label>{% trans "URL" %}</label>
                        <p>
                            <a href="{{ fileobject.url }}">{{ fileobject.url }}</a>
                        </p>
                    </div>
                </div>
                <div class="form-row">
                    <div>
                        <label>{% trans "Filesize" %}</label>
                        <p>
                            {{ fileobject.filesize|filesizeformat }}
                        </p>
                    </div>
                </div>
                <div class="form-row">
                    <div>
                        <label>{% trans "Date" %}</label>
                        <p>
                            {{ fileobject.datetime|date:"N j, Y" }}
                        </p>
                    </div>
                </div>
                {% if fileobject.filetype == "Image" %}
                    <div class="form-row">
                        <div>
                            <label>{% trans "Size" %}</label>
                            <p>
                                {{ fileobject.width }} x {{ fileobject.height }} px
                            </p>
                        </div>
                    </div>
                {% endif %}
            </fieldset>
            <fieldset class="module aligned">
                <h2>{% trans "Related Media Records" %}</h2>
                {% if fileobject.has_media_record %}
                {% for media in fileobject.get_related_media %}
                    <div class="form-row">
                        <div>
                            <p>{{ media }}</p>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <p>{% trans "No related media records." %}</p>
                {% endif %}
            </fieldset>
            {% endif %}
            {% if not fileobject.has_media_record %}
                <div class="submit-row">
                    <p class="deletelink-box">
                        <a href="{% url 'filebrowser:fb_delete_confirm' %}{% query_string %}" class="deletelink">{% trans "Delete" %}</a>
                    </p>
                </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}