
@font-face {
    font-family:"Open Sans Light Italic";
    src:url("OpenSans-LightItalic.woff2") format("woff2"),url("OpenSans-LightItalic.woff") format("woff"),url("OpenSans-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        