services:
  db:
    image: postgis/postgis:15-3.4
    restart: always
    environment:
      POSTGRES_DB: tekdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespw
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - tekdb_db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d tekdb -h localhost -p 5432"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env.dev
    environment:
      SQL_ENGINE: django.contrib.gis.db.backends.postgis
      SQL_HOST: db
      SQL_PORT: 5432
      SQL_DATABASE: tekdb
      SQL_USER: postgres
      SQL_PASSWORD: postgrespw
      SECRET_KEY: 'change-me'
      DEBUG: '1'
    ports:
      - "8000:8000"
    volumes:
      - .:/usr/src/app

volumes:
  tekdb_db_data:
