#REQUIRED
confusable-homoglyphs
coverage
django >=3.2.10,<3.3
django-autocomplete-light
django-ckeditor
django-leaflet
django-nested-admin
django-registration
psycopg2-binary
uwsgi
XlsxWriter

#DEPENDENCIES
cryptography>=3.3.2
httplib2>=0.19.0
jinja2>=2.11.3
pyyaml>=5.4
SecretStorage>=3.3.1
testresources
twisted>=20.3.0
urllib3>=1.26.5

#OPTIONAL, BUT LOVELY FOR DEBUGGING
ipdb
ipython
