#REQUIRED
confusable-homoglyphs
django
django-autocomplete-light
django-ckeditor
django-leaflet
django-nested-admin
django-registration
psycopg2-binary
uwsgi
XlsxWriter

#OPTIONAL, BUT LOVELY FOR DEBUGGING
ipython
ipdb
