{% extends "admin/index.html" %}
{% load i18n static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="/static/assets/bootstrap-5.1.3-dist/css/bootstrap.min.css">
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script>
  // django, bootstrap, and I all have different ways of using jQuery
  var $ = django.jQuery;
  var jQuery = django.jQuery;
</script>
<script type="text/javascript" src="/static/assets/bootstrap-5.1.3-dist/js/bootstrap.js"></script>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="{% static 'admin/js/admin_index.js' %}" defer></script>
{% endblock %}


{% block sidebar %}
<div id="content-related">

  {% if user.is_superuser %}
  <div class="module" id="export-module">
    <h2>{% translate 'Export database' %}<button class='btn btn-info' id='export-info' data-bs-toggle="modal" data-bs-target="#exportImportModal">Info</button></h2>
    <button id='export-button' class="mx-3 btn btn-primary">
      Export to .zip
    </button>
    <div id="exportStatus" class="text-danger m-3 hidden">There was an error during export. Please try again.</div>
  </div>

  <hr />

  <div class="module" id="import-module">
    <h2>{% translate 'Import database' %}<button class='btn btn-info' id='import-info' data-bs-toggle="modal" data-bs-target="#exportImportModal">Info</button></h2>
    <form method="post" enctype="multipart/form-data" id='import-database-form'>
      {% csrf_token %}
      <input type="file" name="import_file" id='import_database_file_field' class="mx-3">
      <button data-bs-toggle="modal" data-bs-target="#exportImportModal" type="submit" id='import-button' class='m-3 btn btn-success'>Import</button>
    </form>
  </div>

  <hr />
  {% endif %}


  <div class="module" id="recent-actions-module">
    <h2>{% translate 'Recent actions' %}</h2>
    <h3>{% translate 'My actions' %}</h3>
    {% load log %}
    {% get_admin_log 10 as admin_log for_user user %}
    {% if not admin_log %}
    <p>{% translate 'None available' %}</p>
    {% else %}
    <ul class="actionlist">
      {% for entry in admin_log %}
      <li
        class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
        {% if entry.is_deletion or not entry.get_admin_url %}
        {{ entry.object_repr }}
        {% else %}
        <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
        {% endif %}
        <br>
        {% if entry.content_type %}
        <span class="mini quiet">{% filter capfirst %}{{ entry.content_type.name }}{% endfilter %}</span>
        {% else %}
        <span class="mini quiet">{% translate 'Unknown content' %}</span>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="modal fade" id="exportImportModal" tabindex="-1" aria-labelledby="modalTitle" aria-hidden="true" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-dark" id="modalTitle"></h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modalBody" class="modal-body">
      </div>
      <div id="modalNextSteps" class="pt-3 m-3 border rounded hidden"></div>
      <div class="modal-footer">
        <button type="button" id="continueImport" class="btn btn-primary">Continue</button>
      </div> 
    </div>
  </div>
</div>
</div>
{% endblock %}