{% extends "admin/change_form.html" %}

{% block extrahead %}
  {{ block.super }}
  <link rel="stylesheet" href="/static/assets/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/assets/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/static/TEKDB/css/record_form.css">
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script>
    // django, bootstrap, and I all have different ways of using jQuery
    var $ = django.jQuery;
    var jQuery = django.jQuery;
  </script>
  <!-- <script type="text/javascript" src="/static/admin/js/SelectBox.js"></script> -->
  <script type="text/javascript" src="/static/assets/knockout/knockout-3.4.2.js"></script>
  <script type="text/javascript" src="/static/assets/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

  <script type="text/javascript" src="/static/TEKDB/js/record_form.js"></script>
{% endblock %}

{% load i18n admin_urls static %}
{% block inline_field_sets %}

    <!-- Form Modal -->
    <div class="modal fade" id="inlineFormModal" tabindex="-1" role="dialog" aria-labelledby="Relationship Form" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="inlineModalLabel">Relationship Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="form-modal-body">
              <!-- To be replaced via AJAX call -->
            </div>
        </div>
      </div>
    </div>

  {% for object in related_objects %}
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#inline_{{ forloop.counter }}">
              {{ object.title|capfirst }}
            </button>
            <div id="inline_{{ forloop.counter }}" class="collapse in">
              <table class="relationship-table" id="inline_table_{{ object.data.model }}"></table>
              <div class="related-widget-wrapper">
                <button class="btn btn-success" type="button"
                  id="add_id_{{ object.data.model }}"
                  title="Add {{ object.title }}" data-toggle="modal"
                  data-target="#inlineFormModal"
                  onclick="loadFormModal('{{ object.data.module }}', '{{ object.data.model }}', null, 'add', '{{ opts.model_name|lower }}', '{{ object_id }}', '{{ object.data.fk_field_id }}')">
                    Add {{ object.title|capfirst }}
                </button>
                <button class="btn" type="button" onclick="loadInlineTables('{{ opts.model_name|lower }}', '{{ object_id }}')">Refresh</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  {% endfor %}
  <script>
    $(document).ready(loadInlineTables.bind($, '{{ opts.model_name|lower }}', '{{ object_id }}'));
  </script>
{% endblock %}
