<form method="post" action="{% url 'change_password' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="old_password">Old Password</label>
    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old Password" required>
    <label for="new_password1">New Password</label>
    <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="New Password" required>
    <label for="new_password2">Confirm New Password</label>
    <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="Confirm New Password" required>
  </div>
  <div class="modal-center">
    <input type="submit" class="btn" id="changePasswordSubmit" value="Change My Password">
  </div>
</form>