{% extends "reversion/change_list.html" %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static '/assets/openlayers6/ol.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'TEKDB/css/change_list.css' %}" type="text/css">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static '/assets/openlayers6/ol.js' %}"></script>
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="map-wrap">
        <div id="map"></div>
        <div id="mouse-position" class="mouse-position"></div>
        <div id="popup" class="ol-popup">
            <!-- <a href="#" id="popup-closer" class="ol-popup-closer"></a> -->
            <div id="popup-content"></div>
        </div> 
    </div>

    {{ results_geojson | safe }}

    <script src="{% static 'TEKDB/js/map.js' %}"></script>
    <script>
        var results_geojson = {{ results_geojson | safe }};
        console.log(results_geojson);
        vectorLayer.getSource().addFeatures(new ol.format.GeoJSON().readFeatures(results_geojson));

        if (vectorLayer.getSource().getFeatures().length > 0) {
            var geometry_extent = vectorLayer.getSource().getExtent();
            geometry_extent = buffer_extent(geometry_extent, 0.1);
            map.getView().fit(geometry_extent,map.getSize());
        } 
    </script>

{% endblock %}