
@font-face {
    font-family:"Open Sans SemiBold Italic";
    src:url("OpenSans-SemiBoldItalic.woff2") format("woff2"),url("OpenSans-SemiBoldItalic.woff") format("woff"),url("OpenSans-SemiBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        