
@font-face {
    font-family:"Open Sans Bold Italic";
    src:url("OpenSans-BoldItalic.woff2") format("woff2"),url("OpenSans-BoldItalic.woff") format("woff"),url("OpenSans-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        