
body {
  background-image: linear-gradient(#f7f0e7 0, #e9d8c1);
  color: black;
}

/*The greens assigned here to .well are whiter tints of a green taken from map images shown in the applicaton*/
.well {
  background-image: linear-gradient(to top, #97b181 0, #e5ecdf 100%);
}

.content-well {
  padding-bottom: 200px;
}

.dropdown-item :hover {
	color: black;
	font-size: larger;
	text-decoration: none;
}

.btn, .nav-link {
  background-image: linear-gradient(#fff 0, #e6e6e6);
  box-shadow: 3px 3px 8px 0 #ccc;
  text-align: center;
  color: black;
  font-family: futura;
}

.btn {
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
}

.btn:hover, .nav-link:hover  {
 font-weight: bold;
 text-decoration: none;
  background-image: linear-gradient(#ffffff 0, #d9d9d9);
  color: #006600; /*color #006600 is the same as the color assigned to "TEK" in the logo*/
}

.download-table {
  color: black;
  float: right;
  margin-right: -15px;
}

.download-table ul {
  list-style-type: none;
  text-decoration: underline;
}

.dowload-table a:hover {
  color: #006600 ;
}