
body {
  background-image: linear-gradient(#f7f0e7 0, #e9d8c1);
  padding-top: 120px;
}

/*.container {
	background-image: linear-gradient(to top, #e9e0c5 0, #f4efe1 100%)*/

/*The greens assigned here to .well are whiter tints of a green taken from map images shown in the applicaton*/
.well {
  background-image: linear-gradient(to top, #97b181 0, #e5ecdf 100%);
}

.content-well {
  padding-bottom: 200px;
}


.btn {
  border: 1px solid;
  border-color: #ccc;
  border-radius: 4px;
  background-image: linear-gradient(#fff 0, #e0e0e0);
  box-shadow: 3px 3px 8px 0 #ccc;
  text-align: center;
  color: #001a00;
  font-family: futura;
}

.btn:hover  {
 font-weight: bold;
  color: black;
  background-image: linear-gradient(#eff2f5 0, #8197b1);
}
