.content-well p {
  font-size: 14px;
}

.content-well h1 {
  font-family: garamond;
  font-size: 42px;
  color: #006600;
}

.btn-default:hover {
  background-position: 0;
  color: black;
}

.btn-group.btn-group-justified {
  table-layout: auto;
  width: 100%;
}

.btn-group .btn:focus {
  outline-color: #dcc09b;
  outline-width: 5px;
}

.input-group-btn .btn {
  box-shadow: 3px 3px 8px 0 #97b181;
}

h1 { text-align: center; }

#search-category-type {
  display: none;
}

.btn-default {
  color: black;
}

.explore-form {
  text-align: center;
  margin: 80px 150px;
}

.explore-logo {
  margin-top: 100px;
  text-align: center;
  font-family: futura;
  color: #001a00
}

.explore-logo img {
  height: 8em;
  width: 8em;
}

.explore-logo p {
  font-size: 1.5em;
  color: #003300;
}
