.content-well p {
  font-size: 14px;
}

.btn-group.btn-group-justified {
  table-layout: auto;
  width: 100%;
}


.btn-group .btn:hover {
  font-weight: bold;
  color: black;
  background-image: linear-gradient(#fff 0, #ccffcc);
}

.btn-group .btn:focus {
  border-color: orange;
  outline-offset: -5px;
  background-image: linear-gradient(#fff 0, #ccffcc);
}

.input-group .btn {
  border: 1px solid;
  border-color: #ccc;
  background-image: linear-gradient(#fff 0, #e0e0e0);
  box-shadow: 3px 3px 8px 0 #ccc;
  text-align: center;
  font-size: 16px;
  color: #001a00;
  font-family: futura;
}

.input-group .btn:hover {
  font-weight: bold;
  color: black;
  background-image: linear-gradient(#fff 0, #ccffcc);
}


body { padding-top: 90px; }

h1 { text-align: center; }

#search-category-type {
  display: none;
}

.btn-default {
  color: black;
}

.content-container {
  margin-top: 20px;
}

.well {
  background-image: linear-gradient(to bottom,#CCFFCC 0,#F0ffF0 100%);
}
.content-well {
  padding-bottom: 200px;
}

.content-well h1 {
  margin: 40px auto;
  font-size: 55px;
  letter-spacing: 5px;
}

.odd-well {
  background-image: linear-gradient(to top,#CCFFCC 0,#F0ffF0 100%);
}

.explore-form {
  text-align: center;
  margin: 80px 150px;
}

.explore-logo {
  margin-top: 100px;
  text-align: center;
  font-family: futura;
  color: #001a00
}

.explore-logo img {
  height: 8em;
  width: 8em;
}

.explore-logo p {
  font-size: 2em;
}

#export-links {
  list-style-type: none;
}
#export-links li a,
#export-links li span{
  color: blue;
}
