/*
div {
  border-style: solid;
  border-width: 1px; 
  border-color: black;
}
*/

.navbar {
  background-image: linear-gradient(#e9d8c1 0, #f7f0e7);
}

nav .container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row-eq-height {
  display: flex;
}

.row-eq-height .col-md-3 {
  flex: 1;
}

.row-eq-height .col-md-9 {
  flex: 1;
}

.logo {
  width: 275px;
  text-align: center;
  line-height: 1;
}

.logo a:hover {
  text-decoration: none;
}

.logo-main {
  margin-bottom: -8px;
  font-size: 60px;
  font-family: garamond;
  letter-spacing: 8px;
}

.logo-tek {
  color: #006600;
}

.logo-db {
  color: #99ff99; 
  margin-left: -28px;
   }

 .logo-subhead {
  color: #001a00;
  font-family: futura;
  font-size: 16;
  letter-spacing: 2px;
  margin-bottom: 3px;
 }

a {
  color: #001a00;
}


/*flex is being used to make all nav tabs the same height:*/
.nav-tabs{
  display: flex;
  float: right;
  font-size: 14px;
  font-family: futura;
  position: absolute;
  bottom: 0;
  right: 0;
}
.nav-tabs li {
    display: flex;
    flex: 1;
}

.nav-tabs li  a {
    flex: 1;
}


.dropdown-menu {
  right: 0;
  left: auto;
  text-align: right;
}

.btn.dropdown-toggle:hover {
  background-image: linear-gradient(#fff 0, #ccffcc);
  font-weight: bold;
}

.header-button-row .dropdown .dropdown-menu {
  background-color: #DDFFDD;
  margin-left: 15px;
}

.header-button-row .dropdown .dropdown-menu .dropdown-item {
  color: black;
  padding: 0 10px;
}
.header-button-row .dropdown .dropdown-menu .dropdown-item:hover {
  font-weight: bold;
  color: white;
  background-color: #448844;
  background-image: none;
}
