.header-title h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 3px;
}
.header-title-content {
  margin: 5px 0;
  text-align: center;
  color: white;
  background-color: #777;
  border-radius: 10px;
  /*padding: 5px;*/
}
.header-title-content a,
.header-title-content h1,
.header-title-content p {
  color: white;
}
.header-title-content p {
  margin-bottom: 3px;
  font-size: 14px;
}
.header-title-content:hover a,
.header-title-content:hover h1,
.header-title-content:hover p {
  color: #DDFFDD;
  text-decoration: none !important;
}
.header-title-content:hover {
  background-color: #555;
}

.header-button-row {
  min-height: 50px;
  margin-top: 15px;
}

.header-button, .header-button-selected {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  text-align: center;
}
.header-button {
  color: #000;
  margin-left: 3px;
  margin-right: 3px;
}
.header-button-selected, .header-button-selected:hover {
  margin-left: 5px;
  color: #999;
  background-color: white;
  border: 1px solid black;
}

.header-button:hover, .header-button-selected:hover {
  text-decoration: none !important;
  border: 1px solid black;
}
.header-button:hover {
  background-color: #DDFFDD;
  color: #000;
}

.header-button-row .dropdown button {
  width: 100%;
}
.header-button-row .dropdown .dropdown-menu {
  background-color: #DDFFDD;
  margin-left: 15px;
}

.header-button-row .dropdown .dropdown-menu .dropdown-item {
  color: black;
  padding: 0 10px;
}
.header-button-row .dropdown .dropdown-menu .dropdown-item:hover {
  font-weight: bold;
  color: white;
  background-color: #448844;
  background-image: none;
}
