.modal-content {
  background-color: var(--accent_bg);
  color: var(--default_font);
}

.modal-header {
  border: none;
  text-align: center;
}

.modal-header h4 {
  color: var(--default_font);
  font-size: 36px;
  padding: 15px 0;
}

.modal-body form {
  padding: 0 30px;
}

.modal-body .form-group .form-control {
  color: var(--light_font);
  background-color: var(--alt_field_bg);
  border: none;
}

.modal-body .form-group .form-control::placeholder {
  color: var(--placeholder_font);
}

.modal-center {
  text-align: center;
}

.modal-center .btn {
  width: 200px;
  background-color: var(--ok_button_bg);
  margin: 20px 0;
  color: var(--light_font);
}

.modal-center .splitter {
  margin: auto 5px;
}
