main {
  background-color: var(--primary_b);
}

.content-container,
.content-row {
  padding-top: calc(var(--margin_top) * 2);
  padding-bottom: var(--margin_bottom);
}

.record-type {
  font-family: var(--font-sans-serif-extrabold);
  letter-spacing: var(--letter_spacing);
  text-transform: uppercase;
}

.record-type-resources {
  color: var(--secondary_d);
}

.record-type-places {
  color: var(--secondary_c);
}

.record-type-citations {
  color: var(--primary_c);
}

.record-type-media {
  color: var(--secondary_b);
}


.record-data {
  margin-top: calc(var(--margin_top) / 2);
}

.record-data strong {
  font-family: var(--font-sans-serif-bold);
  font-size: .75em;
  font-weight: 400;
  letter-spacing: 0.125em;
  margin-right: 4px;
  text-transform: uppercase;
}

.record-data span {
  font-size: 1.125em;
  letter-spacing: 0.05em;
}

.relationship-row {
  margin-bottom: 0.5em;
}

.relationship-row a {
  color: black;
}

.relationship-row a:hover {
  color: #336633;
}

.record-link {
  color: black;
}
.record-link:hover {
  color: black;
}

.btn-download {
  background-color: #777;
  padding: 1em;
  border-radius: 5px;
  float: right;
}

.btn-download:hover {
  background-color: #555;
  text-decoration: none;
  padding: 1.2em;
  margin-right: -0.4em;
  margin-top: -0.2em;
}

.back-button {
  background-color: var(--white);
  border-color: var(--black);
  color: var(--black);
  font-family: var(--font-sans-serif-bold);
  line-height: 1.75;
}

.back-button:hover {
  color: #363;
  border-color: #363;
  background-color: #EEE;
}

.arrow-left {
  top: -1px;
}

.arrow-left,
.arrow-left::before,
.arrow-left::after {
  background: var(--primary_a);
}


.source-excerpt {
  margin-left: 1em;
  color: #555;
  font-size: 12px;
}

.relationship-div {
  margin: var(--margin_top) 0 var(--margin_bottom);
}

.related-link {
  border-bottom: 2px solid var(--primary_a);
  text-decoration: none;
}

.record-icon {
  width: 30px;
  height: 100%;
}

.record-entry {
  text-align: center;
}