body {
  padding-top: 120px;
}

.btn {
  box-shadow: 3px 3px 8px 0px #e9d8c1;
} 

.content-well {
  padding-bottom: 20px;
}
.record-icon {
  height: 80px;
  background-size: cover;
  float: left;
  width: 84px;
}

.record-name {
  font-family: garamond;
  font-weight: bold;
  color: #006600;
}

.relationship-row {
  margin-bottom: 0.5em;
}

.relationship-row a {
  color: black;
}

.relationship-row a:hover {
  color: #336633;
}


#map {
  box-shadow: 3px 3px 12px 0px #7d9e61
}

.record-link {
  color: black;
}
.record-link:hover {
  color: black;
}

.btn-download {
  background-color: #777;
  padding: 1em;
  border-radius: 5px;
  float: right;
}

.btn-download:hover {
  background-color: #555;
  text-decoration: none;
  padding: 1.2em;
  margin-right: -0.4em;
  margin-top: -0.2em;
}

.back-button {
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 15px;
  float: right;
}

.source-excerpt {
  margin-left: 1em;
  color: #555;
  font-size: 12px;
}
