/*
div {
  border-style: solid;
  border-width: 1px; 
  border-color: black;
}
*/

#results-well {
  padding-bottom: 100px;
  padding-top: 0px;
}

#results-well h3 {
  font-size: 24px;
  color: #001a00;
  margin: 0px;
}

thead {
  background-color: #008000;
}

.table-body {
  overflow: scroll;
}

td {
  cursor: pointer;
}

input[type=submit] {
  border-radius: 8px;
  box-shadow: 3px 3px 8px 0 #ccc;
  background-image: linear-gradient(#fff 0, #e0e0e0);
}

input[type=submit]:hover {
   background-image: linear-gradient(#fff 0, #ccffcc);
   font-weight: bold;
}

.result-cell {
  /*padding: 10px;*/
  margin: 10px 4.166666%;
  border: 2px solid #888;
  border-radius: 10px;
}

.result-cell:hover {
  border: 2px solid #336633;
}

.result-cell:hover p {
  font-weight: normal;
}
.result-cell:hover h3 {
  color: #336633;
}
.result-cell:hover p{
  color: #696;
}

.result-img-col {
  width: 100%;
  height: 185px;
  background-size: cover;
  text-align: center;
  padding: 15px;
  border-radius: 0 0 8px 8px;
}

.result-desc-col {
  background-size:cover;
  height: 50px;
  background-color: peru;
  text-align: center;
  overflow: hidden;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
  border-radius: 8px 8px 0 0;
}
.result-desc-col h3 {
  margin: auto;
  margin-top: 3px;
  font-size: 24px;
  /*font-size: 2vw;*/
}

.result-img-col img {
  height: 150px;
}

.result-alt-highlight {
  background-color: #CCC;
}

.result-cell:hover  .result-img-col {
  background-color: #9EA;
}

.result-cell:hover .result-alt-highlight {
  background-color: #AAA;
}

.result-img-content-wrapper {
  background-color: #888;
  background-color: rgba(0,0,0,0.7);
  max-height: 100%;
}

.result-cell:hover .result-img-content-wrapper {
  background-color: black;
  background-color: rgba(0,0,0,0.9);
}

.pagination {
  margin: 0 15 0 15;
}

.view-icons {
  margin: 2px auto 5px auto;
}

.view-icons a {
  color: black;
  text-decoration: none;
}

.view-icons a:hover {
  color: #696;
}

.selected-view {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 14px;
  margin: 5px;
}
.selected-view span {
  color: ccffcc;
}

.selected-view .glyphicon-th {
  /*margin-left: 1px;*/
  margin-right: -4px;
}

.result-list {
  background-color: white;
}

.list-image {
  height: 35px;
}

.table-hover>tbody>tr:hover {
  background-color: #DDD;
}

.dataTables_wrapper .dataTables_paginate {
  float: left;
  text-align: left;
  /*padding-bottom: 0.5em;*/
  padding-top: 0;
  margin-top: -0.5em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5em;
}

.paginationjs {
  display: none;
  visiblity: hidden;
}

.paginationjs .paginationjs-pages li:last-child ,
.paginationjs .paginationjs-pages li {
  border: 1px solid transparent;
}

.paginationjs .paginationjs-pages li:hover {
  color: white !important;
  border: 1px solid #111;
  border-radius: 2px;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  /* W3C */
}

.paginationjs .paginationjs-pages li > a:hover {
  background: transparent;
  color: white;
}

.paginationjs .paginationjs-pages li.active {
  border: 1px solid #979797;
  background-color: white;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}

.paginationjs .paginationjs-pages li.active > a {
  min-width: 0;
  height: 36px;
  line-height: 20px;
  padding: 0.5em;
  color: #333 !important;
  background: transparent;
  /*border: 1px solid #979797;
  background-color: white;*/
}

.paginationjs .paginationjs-pages li > a {
  width: auto;
  min-width: 0;
  /*width: 1.7em;*/
  padding: 0.5em;
  border-radius: 2px;
  height: 36px;
  line-height: 20px;
}

.paginationjs .paginationjs-pages li {
  display: inline;
  margin-left: 2px;
  margin-right: 0px;
  height: 36px;
  line-height: 20px;
  border: 1px solid transparent
  text-align: center;
}

.paginationjs-ellipsis {
  padding: 0 0.5em;
}

.paginationjs .paginationjs-pages li.disabled {

}
.paginationjs .paginationjs-pages li.disabled:hover {
  background: white;
  border: 1px solid transparent;
}

.paginationjs .paginationjs-pages li.disabled > a {
  color: #333;
  opacity: 1;
}

.paginationjs .paginationjs-pages li.disabled > a:hover {
  color: #333;
  background-color: white;
  font-weight: normal;
}

#results_table_length {
  width: 100%;
}

#results_table_info {
  float: right;
  /*margin-top: -0.75em;*/
}
