main {
  background: var(--white);
}

.results-right #map {
  position: sticky;
  top: 20px;
}

#filter-form {
  margin-top: calc(var(--margin_top) * 2);
}

.pagination {
  margin: 0 auto 0 auto;
}

/* RDH 2022-04-15: 
      this does not seem to be in use. 
      Related to grid view? This functionality is removed.
.view-icons {
  margin: 2px auto 5px auto;
}

.view-icons a {
  color: black;
  text-decoration: none;
}

.view-icons a:hover {
  color: #696;
}

.selected-view {
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 14px;
  margin: 5px;
}
.selected-view span {
  color: white;
}

.selected-view .glyphicon-th {
  margin-right: -4px;
}
*/

.result-list {
  background-color: var(--default_background);
}

.results-controls-left,
/* .results-controls-center, */
#results_table_paginate,
.results-controls-right {
  align-items: center;
  font-family: var(--font-sans-serif-bold);
  font-size: .9375em;
  justify-content: center;
  letter-spacing: 0.05em;
  line-height: 1;
  display: flex;
}

.results-controls-left {
  justify-content: flex-end;
}

.results-controls-right {
  color: var(--primary_d);
  justify-content: flex-start;
  font-size: .875em;
}

.results-controls-right svg {
  margin-right: 1em;
}

.results-controls-left,
.results-controls-center {
  border-right: 1px solid var(--default_font);
}

.list-image {
  height: 100%;
  margin-left: 2em;
  width: 34px;
}

.table-hover>tbody>tr:hover {
  background-color: var(--result_highlight);
}

.dataTables_wrapper .dataTables_paginate {
  float: left;
  text-align: left;
  /*padding-bottom: 0.5em;*/
  padding-top: 0;
  margin-top: -0.5em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0.5em;
}

.paginationjs {
  display: none;
  visibility: hidden;
}

.paginationjs .paginationjs-pages li:last-child ,
.paginationjs .paginationjs-pages li {
  border: 1px solid transparent;
}

.paginationjs .paginationjs-pages li:hover {
  color: var(--default_background) !important;
  border: 1px solid var(--dark_font);
  border-radius: 2px;
  background-color: var(--alt_bg);
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111)); */
  /* Chrome,Safari4+ */
  /* background: -webkit-linear-gradient(top, #585858 0%, #111 100%); */
  /* Chrome10+,Safari5.1+ */
  /* background: -moz-linear-gradient(top, #585858 0%, #111 100%); */
  /* FF3.6+ */
  /* background: -ms-linear-gradient(top, #585858 0%, #111 100%); */
  /* IE10+ */
  /* background: -o-linear-gradient(top, #585858 0%, #111 100%); */
  /* Opera 11.10+ */
  /* background: linear-gradient(to bottom, #585858 0%, #111 100%); */
  /* W3C */
}

.paginationjs .paginationjs-pages li > a:hover {
  background: transparent;
  color: var(--default_background);
}

.paginationjs .paginationjs-pages li.active {
  border: 1px solid var(--light_border);
  background-color: var(--default_background);
  border-radius: 2px;
  /* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc)); */
  /* Chrome,Safari4+ */
  /* background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%); */
  /* Chrome10+,Safari5.1+ */
  /* background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%); */
  /* FF3.6+ */
  /* background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%); */
  /* IE10+ */
  /* background: -o-linear-gradient(top, white 0%, #dcdcdc 100%); */
  /* Opera 11.10+ */
  /* background: linear-gradient(to bottom, white 0%, #dcdcdc 100%); */
  /* W3C */
}

.paginationjs .paginationjs-pages li.active > a {
  min-width: 0;
  height: 36px;
  line-height: 20px;
  padding: 0.5em;
  color: var(--dark_font) !important;
  background: transparent;
  /*border: 1px solid #979797;
  background-color: white;*/
}

.paginationjs .paginationjs-pages li > a {
  width: auto;
  min-width: 0;
  /*width: 1.7em;*/
  padding: 0.5em;
  border-radius: 2px;
  height: 36px;
  line-height: 20px;
}

.paginationjs .paginationjs-pages li {
  display: inline;
  margin-left: 2px;
  margin-right: 0px;
  height: 36px;
  line-height: 20px;
  border: 1px solid transparent;
  text-align: center;
}

.paginationjs-ellipsis {
  padding: 0 0.5em;
}

.paginationjs .paginationjs-pages li.disabled {

}
.paginationjs .paginationjs-pages li.disabled:hover {
  background: var(--default_background);
  border: 1px solid transparent;
}

.paginationjs .paginationjs-pages li.disabled > a {
  color: var(--dark_font);
  opacity: 1;
}

.paginationjs .paginationjs-pages li.disabled > a:hover {
  color: var(--dark_font);
  background-color: var(--default_background);
  font-weight: normal;
}

table#results_table>thead {
  display: none;
}

#results_table {
  background-color: transparent;
}

#results_table td {
  background-color: transparent;
  box-shadow: none;
  font-family: var(--font-sans-serif-bold);
  line-height: 1.5;
  padding: .75em .625em;
  vertical-align: middle;
}

#results_table td:last-of-type {
  font-family: var(--font-sans-serif);
  font-size: .875em;
}

#results_table_length {
  width: 100%;
}

#results_table_info {
  font-size: .875em;
  text-align: right;
  /*margin-top: -0.75em;*/
}

#results_table_length label {
  display: none;
}

#results_table_paginate,
#results_table_paginate a {
  color: var(--dark_font);
  cursor: pointer;
  padding: 0 0.375em;
}

#results_table_paginate .paginate_button.current {
  color: var(--primary_a);
}

.link-result {
  cursor: pointer;
}

.link-result.odd {
  background-color: var(--white);
}

.link-result.even {
  background-color: #f7f7f7;
}

.query-input-group::after {
  background: var(--secondary_a);
  content: '';
  height: 2em;
  position: absolute;
  right: 6em;
  top: .625em;
  width: 1px;
}

.arrow-right.search-arrow,
.arrow-right.search-arrow::before,
.arrow-right.search-arrow::after {
  background: var(--primary_a);
}

.arrow-right.search-arrow {
  position: absolute;
  right: 2.5em;
  top: 1.5625em;
  pointer-events: none;
}

.query-input-group {
  position: relative;
}

#query-form-submit {
  height: 100%;
  opacity: 0;
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 0;
  width: 5em;
  z-index: 9;
}

/* Filter Category Checkboxs */
#filter-checkboxes {
  margin: var(--margin_top) auto;
}

#filter-checkboxes div {
  font-family: var(--font-sans-serif-extrabold);
  letter-spacing: 0.025em;
  position: relative;
}

#filter-checkboxes div p {
  font-family: var(--font-sans-serif);
  font-size: .875em;
}

#filter-checkboxes input[type=checkbox] {
  height: 80%;
  opacity: 0;
  position: absolute;
  width: 80%;
  z-index: 9;
}

#filter-checkboxes input[type=checkbox]:checked ~ label {
  background-color: var(--secondary_a);
}

#filter-checkboxes label {
  background: var(--white);
  border: 2px solid var(--secondary_a);
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 4px;
  padding: 6px;
  vertical-align: middle;
}

div.alert-notification {
  background: var(--accent_bg);
  border: var(--default_border);
  border-radius: var(--default_border_radius);
  border-color: var(--light_border);
  padding: 0.5rem;
  margin: 0.5rem;
  margin-top: 0;
}

div.alert-notification p {
  color: var(--highlight_font);
  margin-bottom: 0;
  font-size: 0.9rem;
}