.homepage-column {
  /* height: calc(100vh - var(--header_height)); */
  /* max-height: calc(100vh - var(--header_height)); */
  margin-top: calc(var(--margin_top) * 2);
}

#homepage-left-column {
  /* background-color: var(--homepage_left_background); */
  /* overflow-y: auto; */
}

  #homepage-left-column::after {
    background-color: var(--homepage_left_background);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: calc(100% / 12 * 5);
    z-index: -1;
  }

#homepage-right-column {
  /* background-color: var(--homepage_right_background); */
  display: flex;
  flex-direction: column;
}

  #homepage-right-column::after {
    background-color: var(--homepage_right_background);
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% / 12 * 7);
    z-index: -1;
  }


.welcome-content-wrapper {
  color: var(--home_font_color);
  margin: var(--margin);
}

.welcome-content-wrapper p {
  font-family: var(--font-sans-serif-bold);
}

div.welcome-login-button-wrapper a.btn.welcome-login-btn {
  border-color: var(--home_font_color);
  color: var(--home_font_color);
  margin-left: 2rem;
}

div.welcome-login-button-wrapper a.btn.welcome-login-btn span.arrow-right::before,
div.welcome-login-button-wrapper a.btn.welcome-login-btn span.arrow-right,
div.welcome-login-button-wrapper a.btn.welcome-login-btn span.arrow-right::after {
  background: var(--home_font_color);
}

div.proj-image-select-wrapper {
  max-height: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.proj-image-select-wrapper img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

div#proj-image-attribution {
  color: var(--dark_font);
  background-color: var(--accent_bg);
  opacity: 80%;
  border: var(--default_border);
  border-radius: var(--default_border_radius);
  padding: 0.3rem;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

div#proj-image-attribution p {
  font-size: var(--small_font_size);
  margin: 0;
}