.change-list {
/****
    * Styles for admin view
    *   - altered for places
    *   - adds a map
****/
}

#content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
#content h1 {
    grid-column: 1 / -1;
    grid-row: 1;
}
#content-main {
    grid-column: 1;
    grid-row: 2;
}
#content .clear {
    grid-column: 1 / -1;
    grid-row: 3;
}
.map-wrap {
    grid-column: 2;
    grid-row: 2;
    min-height: 400px;
    position: relative;
    width: 100%;
}
#map {
    height: 100%;
    position: absolute;
    width: 100%;
}